.lac-map-widget { width: 100%; overflow: hidden; }
.lac-aggmap { position: relative; width: 100%; background: #222; overflow: hidden; }
.lac-aggmap-1x1 { padding-top: 100%; }
.lac-aggmap-2x1 { padding-top: 50%; }
.lac-aggmap-canvas { position: absolute; inset: 0; }

